<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddCookies</servlet-name>
        <servlet-class>com.AddCookies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCookies</servlet-name>
        <servlet-class>com.VerifyCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddCookies</servlet-name>
        <url-pattern>/AddCookies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCookies</servlet-name>
        <url-pattern>/VerifyCookies</url-pattern>
    </servlet-mapping>
</web-app>
